attrs==22.1.0
more-itertools==9.0.0
numpy==1.23.5
packaging==21.3
pandas==1.5.2
pexpect==4.8.0
pluggy==1.0.0
ptyprocess==0.7.0
py==1.11.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
wcwidth==0.2.5
scipy==1.9.3
wheel==0.38.4
